In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import sys
print(sys.path)
import time

['C:\\Users\\Vikas Jain\\Desktop\\recommender', 'C:\\Users\\Vikas Jain\\anaconda3\\python37.zip', 'C:\\Users\\Vikas Jain\\anaconda3\\DLLs', 'C:\\Users\\Vikas Jain\\anaconda3\\lib', 'C:\\Users\\Vikas Jain\\anaconda3', '', 'C:\\Users\\Vikas Jain\\AppData\\Roaming\\Python\\Python37\\site-packages', 'C:\\Users\\Vikas Jain\\anaconda3\\lib\\site-packages', 'C:\\Users\\Vikas Jain\\anaconda3\\lib\\site-packages\\win32', 'C:\\Users\\Vikas Jain\\anaconda3\\lib\\site-packages\\win32\\lib', 'C:\\Users\\Vikas Jain\\anaconda3\\lib\\site-packages\\Pythonwin', 'C:\\Users\\Vikas Jain\\anaconda3\\lib\\site-packages\\IPython\\extensions', 'C:\\Users\\Vikas Jain\\.ipython']

In [2]:
df=pd.read_csv("./data/user_preprocessing/survey_results_public.csv")
df.head()

C:\Users\Vikas Jain\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (8,12,13,14,15,16,50,51,52,53,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Respondent,Hobby,OpenSource,Country,Student,Employment,FormalEducation,UndergradMajor,CompanySize,DevType,...,Exercise,Gender,SexualOrientation,EducationParents,RaceEthnicity,Age,Dependents,MilitaryUS,SurveyTooLong,SurveyEasy
0,1,Yes,No,Kenya,No,Employed part-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,20 to 99 employees,Full-stack developer,...,3 - 4 times per week,Male,Straight or heterosexual,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Black or of African descent,25 - 34 years old,Yes,NaN,The survey was an appropriate length,Very easy
1,3,Yes,Yes,United Kingdom,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A natural science (ex. biology, chemistry, phy...","10,000 or more employees",Database administrator;DevOps specialist;Full-...,...,Daily or almost every day,Male,Straight or heterosexual,"Bachelor’s degree (BA, BS, B.Eng., etc.)",White or of European descent,35 - 44 years old,Yes,NaN,The survey was an appropriate length,Somewhat easy
2,4,Yes,Yes,United States,No,Employed full-time,Associate degree,"Computer science, computer engineering, or sof...",20 to 99 employees,Engineering manager;Full-stack developer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5,No,No,United States,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",100 to 499 employees,Full-stack developer,...,I don't typically exercise,Male,Straight or heterosexual,Some college/university study without earning ...,White or of European descent,35 - 44 years old,No,No,The survey was an appropriate length,Somewhat easy
4,7,Yes,No,South Africa,"Yes, part-time",Employed full-time,Some college/university study without earning ...,"Computer science, computer engineering, or sof...","10,000 or more employees",Data or business analyst;Desktop or enterprise...,...,3 - 4 times per week,Male,Straight or heterosexual,Some college/university study without earning ...,White or of European descent,18 - 24 years old,Yes,NaN,The survey was an appropriate length,Somewhat easy

In [3]:
df.describe()

,Respondent,AssessJob1,AssessJob2,AssessJob3,AssessJob4,AssessJob5,AssessJob6,AssessJob7,AssessJob8,AssessJob9,...,JobEmailPriorities6,JobEmailPriorities7,ConvertedSalary,AdsPriorities1,AdsPriorities2,AdsPriorities3,AdsPriorities4,AdsPriorities5,AdsPriorities6,AdsPriorities7
count,98855.000000,66985.000000,66985.000000,66985.000000,66985.000000,66985.000000,66985.000000,66985.000000,66985.000000,66985.000000,...,46213.00000,46213.000000,4.770200e+04,60479.000000,60479.000000,60479.000000,60479.000000,60479.000000,60479.000000,60479.000000
mean,50822.971635,6.397089,6.673524,5.906875,4.065791,3.953243,4.407196,5.673181,4.225200,7.640009,...,4.97425,4.836388,9.578086e+04,2.726880,3.805784,3.340945,3.782470,4.383604,5.138809,4.821459
std,29321.650410,2.788428,2.531202,2.642734,2.541196,2.520499,2.502069,2.923998,2.507411,2.407457,...,1.86063,1.659844,2.023482e+05,1.881078,1.821323,1.673485,1.844864,1.931746,1.853249,1.874895
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.00000,1.000000,0.000000e+00,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,25443.500000,4.000000,5.000000,4.000000,2.000000,2.000000,2.000000,3.000000,2.000000,6.000000,...,4.00000,4.000000,2.384400e+04,1.000000,2.000000,2.000000,2.000000,3.000000,4.000000,3.000000
50%,50823.000000,7.000000,7.000000,6.000000,4.000000,3.000000,4.000000,6.000000,4.000000,8.000000,...,5.00000,5.000000,5.507500e+04,2.000000,4.000000,3.000000,4.000000,5.000000,6.000000,5.000000
75%,76219.500000,9.000000,9.000000,8.000000,6.000000,6.000000,6.000000,8.000000,6.000000,10.000000,...,7.00000,6.000000,9.300000e+04,4.000000,5.000000,5.000000,5.000000,6.000000,7.000000,7.000000
max,101592.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,...,7.00000,7.000000,2.000000e+06,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000

In [4]:
df.columns

Index(['Respondent', 'Hobby', 'OpenSource', 'Country', 'Student', 'Employment',
       'FormalEducation', 'UndergradMajor', 'CompanySize', 'DevType',
       ...
       'Exercise', 'Gender', 'SexualOrientation', 'EducationParents',
       'RaceEthnicity', 'Age', 'Dependents', 'MilitaryUS', 'SurveyTooLong',
       'SurveyEasy'],
      dtype='object', length=129)

In [5]:
n_row=df.shape[0]
print(df.isnull().sum()/n_row)

Respondent       0.000000
Hobby            0.000000
OpenSource       0.000000
Country          0.004168
Student          0.039998
                   ...
Age              0.346781
Dependents       0.366790
MilitaryUS       0.840362
SurveyTooLong    0.332952
SurveyEasy       0.333579
Length: 129, dtype: float64

In [6]:
attr_to_drop=[]
attr_to_drop.append("SurveyTooLong")
attr_to_drop.append('SurveyEasy')
attr_to_drop.append("AdBlocker")
attr_to_drop.append("AdBlockerDisable")
attr_to_drop.append("AdBlockerReasons")
attr_to_drop.append("AdsAgreeDisagree1")
attr_to_drop.append("AdsAgreeDisagree2")
attr_to_drop.append("AdsAgreeDisagree3")
attr_to_drop.append("AdsActions")
attr_to_drop.append("AdsPriorities1")
attr_to_drop.append("AdsPriorities2")
attr_to_drop.append("AdsPriorities3")
attr_to_drop.append("AdsPriorities4")
attr_to_drop.append("AdsPriorities5")
attr_to_drop.append("AdsPriorities6")
attr_to_drop.append("AdsPriorities7")
attr_to_drop.append("AIDangerous")
attr_to_drop.append("AIInteresting")
attr_to_drop.append("AIResponsible")
attr_to_drop.append("AIFuture")
attr_to_drop.append("EthicsChoice")
attr_to_drop.append("EthicsReport")
attr_to_drop.append("EthicsResponsible")
attr_to_drop.append("EthicsImplications")
attr_to_drop.append("EthicsChoice")
attr_to_drop.append("StackOverflowRecommend")
attr_to_drop.append("StackOverflowVisit")
attr_to_drop.append("StackOverflowHasAccount")
attr_to_drop.append("StackOverflowParticipate")
attr_to_drop.append("StackOverflowJobs")
attr_to_drop.append("StackOverflowDevStory")
attr_to_drop.append("StackOverflowJobsRecommend")
attr_to_drop.append("StackOverflowConsiderMember")
attr_to_drop.append("HypotheticalTools1")
attr_to_drop.append("HypotheticalTools2")
attr_to_drop.append("HypotheticalTools3")
attr_to_drop.append("HypotheticalTools4")
attr_to_drop.append("HypotheticalTools5")
attr_to_drop.append("JobContactPriorities1")
attr_to_drop.append("JobContactPriorities2")
attr_to_drop.append("JobContactPriorities3")
attr_to_drop.append("JobContactPriorities4")
attr_to_drop.append("JobContactPriorities5")
attr_to_drop.append("TimeAfterBootcamp")
df=df.drop(df.columns[[126,3,8,15,50,51,53,62,63,64,123,125,43,44,45,46,47,48,49]],axis=1)
df.columns

Index(['Respondent', 'Hobby', 'OpenSource', 'Student', 'Employment',
       'FormalEducation', 'UndergradMajor', 'DevType', 'YearsCoding',
       'YearsCodingProf',
       ...
       'HoursOutside', 'SkipMeals', 'ErgonomicDevices', 'Exercise', 'Gender',
       'SexualOrientation', 'EducationParents', 'Age', 'SurveyTooLong',
       'SurveyEasy'],
      dtype='object', length=110)

In [7]:
df=df[df.columns.difference(attr_to_drop)]
# df.head()
attr_to_drop=["HackathonReasons","ErgonomicDevices"]
df=df[df.columns.difference(attr_to_drop)]
print(sum(df.isnull().sum())/float(np.prod(df.shape)))
col_null=df.isnull().sum()/n_row
col_null.sort_values(ascending=False)

0.29139955521018696

ConvertedSalary            0.517455
Salary                     0.488362
FrameworkWorkedWith        0.477821
TimeFullyProductive        0.475272
FrameworkDesireNextYear    0.441424
                             ...
Student                    0.039998
Employment                 0.035749
Hobby                      0.000000
OpenSource                 0.000000
Respondent                 0.000000
Length: 66, dtype: float64

In [8]:
#df.columns
attr_to_drop=['Hobby','NumberMonitors','Salary','CheckInCode','WakeTime','TimeFullyProductive','SkipMeals','SexualOrientation','HoursOutside','Exercise','EthicalImplications','EducationParents']
df=df[df.columns.difference(attr_to_drop)]

df1 = df.replace(np.nan, '', regex=True)
df1.head()

,Age,AssessBenefits1,AssessBenefits10,AssessBenefits11,AssessBenefits2,AssessBenefits3,AssessBenefits4,AssessBenefits5,AssessBenefits6,AssessBenefits7,...,OperatingSystem,PlatformDesireNextYear,PlatformWorkedWith,Respondent,SelfTaughtTypes,Student,UndergradMajor,VersionControl,YearsCoding,YearsCodingProf
0,25 - 34 years old,,,,,,,,,,...,Linux-based,AWS;Azure;Linux;Firebase,AWS;Azure;Linux;Firebase,1,The official documentation and/or standards fo...,No,Mathematics or statistics,Git,3-5 years,3-5 years
1,35 - 44 years old,1,2,8,5,3,7,10,4,11,...,Linux-based,Linux,Linux,3,The official documentation and/or standards fo...,No,"A natural science (ex. biology, chemistry, phy...",Git;Subversion,30 or more years,18-20 years
2,,,,,,,,,,,...,,,,4,,No,"Computer science, computer engineering, or sof...",,24-26 years,6-8 years
3,35 - 44 years old,,,,,,,,,,...,Windows,Azure,Azure,5,The official documentation and/or standards fo...,No,"Computer science, computer engineering, or sof...",Git,18-20 years,12-14 years
4,18 - 24 years old,1,9,6,10,2,4,8,3,11,...,Windows,Arduino;Windows Desktop or Server,Arduino;Windows Desktop or Server,7,The official documentation and/or standards fo...,"Yes, part-time","Computer science, computer engineering, or sof...",Zip file back-ups,6-8 years,0-2 years

In [9]:
#finding unique values
Frameworknextyear=list()
for value in df1["FrameworkDesireNextYear"]:
        new=value.split(';')
        for i in new:
            Frameworknextyear.append(i)
sFNY=set(Frameworknextyear)
FrameworkWorkedWith=list()
for value in df1["FrameworkWorkedWith"]:
        new=value.split(';')
        for i in new:
            FrameworkWorkedWith.append(i)
sFW=set(FrameworkWorkedWith)
PlatformDesireNextYear=list()
for value in df1["PlatformDesireNextYear"]:
        new=value.split(';')
        for i in new:
            PlatformDesireNextYear.append(i)
sPDNY=set(PlatformDesireNextYear)
PlatformWorkedWith=list()
for value in df1["PlatformWorkedWith"]:
        new=value.split(';')
        for i in new:
            PlatformWorkedWith.append(i)
sPWW=set(PlatformWorkedWith)
LanguageDesireNextYear=list()
for value in df1["LanguageDesireNextYear"]:
        new=value.split(';')
        for i in new:
            LanguageDesireNextYear.append(i)
sLDNY=set(LanguageDesireNextYear)
LanguageWorkedWith=list()
for value in df1["LanguageWorkedWith"]:
        new=value.split(';')
        for i in new:
            LanguageWorkedWith.append(i)
sLWW=set(LanguageWorkedWith)
         
CommunicationTools=list()
for value in df1["CommunicationTools"]:
        new=value.split(';')
        for i in new:
            CommunicationTools.append(i)
sCT=set(CommunicationTools)

DatabaseWorkedWith=list()
for value in df1["DatabaseWorkedWith"]:
        new=value.split(';')
        for i in new:
            DatabaseWorkedWith.append(i)
sDWW=set(DatabaseWorkedWith)

DatabaseDesireNextYear=list()
for value in df1["DatabaseDesireNextYear"]:
        new=value.split(';')
        for i in new:
            DatabaseDesireNextYear.append(i)
sDNY=set(DatabaseDesireNextYear)

DevType=list()
for value in df1["DevType"]:
        new=value.split(';')
        for i in new:
            DevType.append(i)

sDT=set(DevType)
sFNY.remove("")
sFW.remove("")
sPDNY.remove("")
sPWW.remove("")
sLDNY.remove("")
sLWW.remove("")
sCT.remove("")
sDWW.remove("")
sDNY.remove("")
sDT.remove("")
# sDT
combined=sFNY.union(sFW,sFNY,sPDNY,sPWW,sLDNY,sLWW,sCT,sDWW,sDNY,sDT)
# type(combined)
all_framework=list(combined)
all_framework

['Jira',
 'MongoDB',
 'Torch/PyTorch',
 'SQL',
 'Google Hangouts/Chat',
 'Amazon RDS/Aurora',
 'Azure',
 'Cassandra',
 'Product manager',
 'Slack',
 'Oracle',
 'Hadoop',
 'Xamarin',
 'Full-stack developer',
 'Office / productivity suite (Microsoft Office, Google Suite, etc.)',
 'Scala',
 'C-suite executive (CEO, CTO, etc.)',
 'Rust',
 'AWS',
 'iOS',
 'IBM Db2',
 'Node.js',
 'WordPress',
 'PostgreSQL',
 'Student',
 'Kotlin',
 'Assembly',
 'HipChat',
 'SQL Server',
 'Firebase',
 'Android',
 'Front-end developer',
 'Amazon DynamoDB',
 'R',
 'Drupal',
 'Redis',
 'Spark',
 'HTML',
 'Perl',
 'Elasticsearch',
 'Data or business analyst',
 'Swift',
 'Clojure',
 'Hack',
 'Facebook',
 'Lua',
 'SharePoint',
 'Back-end developer',
 'IBM Cloud or Watson',
 'Database administrator',
 'Serverless',
 'VB.NET',
 'Confluence',
 'SQLite',
 'Mac OS',
 'Julia',
 'Angular',
 'Gaming console',
 'Matlab',
 'Ocaml',
 'Java',
 'Raspberry Pi',
 'Apple Watch or Apple TV',
 'DevOps specialist',
 'VBA',
 'CoffeeScript',
 'Amazon Redshift',
 'Game or graphics developer',
 'PHP',
 'Memcached',
 'Groovy',
 'Data scientist or machine learning specialist',
 'Microsoft Azure (Tables, CosmosDB, SQL, etc)',
 'Marketing or sales professional',
 'Engineering manager',
 'TensorFlow',
 'Windows Desktop or Server',
 'ESP8266',
 'Trello',
 'Bash/Shell',
 'Predix',
 'Embedded applications or devices developer',
 'Google Cloud Storage',
 'Google BigQuery',
 'Arduino',
 'System administrator',
 'Cobol',
 'TypeScript',
 'Ruby',
 'Cordova',
 'Visual Basic 6',
 'MariaDB',
 'Windows Phone',
 'React',
 'JavaScript',
 'Google Cloud Platform/App Engine',
 'Amazon Echo',
 'Neo4j',
 'Educator or academic researcher',
 'Linux',
 'Django',
 'Python',
 'Erlang',
 'CSS',
 'Haskell',
 '.NET Core',
 'Spring',
 'C',
 'Objective-C',
 'Salesforce',
 'Other wiki tool (Github, Google Sites, proprietary software, etc.)',
 'Other chat system (IRC, proprietary software, etc.)',
 'QA or test developer',
 'Mainframe',
 'Go',
 'C#',
 'Apache Hive',
 'Designer',
 'Stack Overflow Enterprise',
 'C++',
 'Heroku',
 'F#',
 'MySQL',
 'Desktop or enterprise applications developer',
 'Mobile developer',
 'Apache HBase',
 'Delphi/Object Pascal',
 'Google Home']

In [10]:
all_fw=pd.DataFrame(all_framework)
all_fw.head()
all_fw.columns

RangeIndex(start=0, stop=1, step=1)

In [11]:
FrameworkWorkedWith = pd.DataFrame(df1['Respondent'])
for i in sFW:
    
    FrameworkWorkedWith[i]=""
PlatformWorkedWith = pd.DataFrame(df1['Respondent'])
for i in sPWW:
    print(i)
    PlatformWorkedWith[i]=""
LanguageWorkedWith = pd.DataFrame(df1['Respondent'])
for i in sLWW:
    LanguageWorkedWith[i]=""
DatabaseWorkedWith = pd.DataFrame(df1['Respondent'])
for i in sDWW:
    DatabaseWorkedWith[i]=""
DevType = pd.DataFrame(df1['Respondent'])
for i in sDT:
    DevType[i]=""
CommunicationTools = pd.DataFrame(df1['Respondent'])
for i in sCT:
    CommunicationTools[i]=""
#framework.to_csv("framework.csv")
#framework.resize=[[98855,,len(sFNY)]]
print(len(sFW))
print(len(sPWW))

Gaming console
Azure
Raspberry Pi
Apple Watch or Apple TV
Windows Desktop or Server
ESP8266
AWS
iOS
Predix
WordPress
Arduino
Firebase
Android
Windows Phone
Drupal
Google Cloud Platform/App Engine
Amazon Echo
Linux
SharePoint
Salesforce
IBM Cloud or Watson
Serverless
Mainframe
Mac OS
Heroku
Google Home
12
26

In [12]:
#FrameworkWorkedWith
time_start=time.time()
coldic=dict(zip(FrameworkWorkedWith.columns,range(0,len(sFW)+1)))
print(coldic)
# df1.head()
for i in range(98855):
    data=(df1.loc[i,'FrameworkWorkedWith']).split(';')
    if(data[0]!=""):
       # print(data)
        for value in data:
            FrameworkWorkedWith.iloc[i,coldic[value]]=1
time_end=time.time()
print(time_end-time_start)
#PlatformWorkedWith
coldic1=dict(zip(PlatformWorkedWith.columns,range(0,len(sPWW)+1)))
print(coldic1)
#print(df1.head())
for i in range(98855):
    data=(df1.loc[i,'PlatformWorkedWith']).split(';')
    if(data[0]!=""):
       # print(data)
        for value in data:
            PlatformWorkedWith.iloc[i,coldic1[value]]=1

{'Respondent': 0, 'Angular': 1, '.NET Core': 2, 'Spring': 3, 'Cordova': 4, 'TensorFlow': 5, 'Torch/PyTorch': 6, 'React': 7, 'Node.js': 8, 'Hadoop': 9, 'Django': 10, 'Spark': 11, 'Xamarin': 12}
408.60168957710266
{'Respondent': 0, 'Gaming console': 1, 'Azure': 2, 'Raspberry Pi': 3, 'Apple Watch or Apple TV': 4, 'Windows Desktop or Server': 5, 'ESP8266': 6, 'AWS': 7, 'iOS': 8, 'Predix': 9, 'WordPress': 10, 'Arduino': 11, 'Firebase': 12, 'Android': 13, 'Windows Phone': 14, 'Drupal': 15, 'Google Cloud Platform/App Engine': 16, 'Amazon Echo': 17, 'Linux': 18, 'SharePoint': 19, 'Salesforce': 20, 'IBM Cloud or Watson': 21, 'Serverless': 22, 'Mainframe': 23, 'Mac OS': 24, 'Heroku': 25, 'Google Home': 26}

In [13]:
FrameworkWorkedWith.head()

,Respondent,Angular,.NET Core,Spring,Cordova,TensorFlow,Torch/PyTorch,React,Node.js,Hadoop,Django,Spark,Xamarin
0,1,,,,,,,1,,,1,,
1,3,,,,,,,,,,1,,
2,4,,,,,,,,,,,,
3,5,,,,,,,,,,,,
4,7,,,,,,,,,,,,

In [14]:
PlatformWorkedWith.head()

,Respondent,Gaming console,Azure,Raspberry Pi,Apple Watch or Apple TV,Windows Desktop or Server,ESP8266,AWS,iOS,Predix,...,Amazon Echo,Linux,SharePoint,Salesforce,IBM Cloud or Watson,Serverless,Mainframe,Mac OS,Heroku,Google Home
0,1,,1,,,,,1,,,...,,1,,,,,,,,
1,3,,,,,,,,,,...,,1,,,,,,,,
2,4,,,,,,,,,,...,,,,,,,,,,
3,5,,1,,,,,,,,...,,,,,,,,,,
4,7,,,,,1,,,,,...,,,,,,,,,,

In [15]:
#LanguageWorkedWith
time_LWW=time.time()
coldic2=dict(zip(LanguageWorkedWith.columns,range(0,len(sLWW)+1)))
print(coldic2)
# df1.head()

for i in range(98855):
    data=(df1.loc[i,'LanguageWorkedWith']).split(';')
    if(data[0]!=""):
       # print(data)
        for value in data:
            LanguageWorkedWith.iloc[i,coldic2[value]]=1
time_LWWe=time.time()
print("Language",time_LWWe-time_LWW)
print("done")
#DatabasesWorkedWth
time_DWW=time.time()
coldic3=dict(zip(DatabaseWorkedWith.columns,range(0,len(sDWW)+1)))
print(coldic3)
print(df1.head())
for i in range(98855):
    data=(df1.loc[i,'DatabaseWorkedWith']).split(';')
    if(data[0]!=""):
       # print(data)
        for value in data:
            DatabaseWorkedWith.iloc[i,coldic3[value]]=1
time_DWWe=time.time()
print("Databases",time_DWWe-time_DWW)
#DevType
#print("done")
#DevType
time_DT=time.time()
coldic4=dict(zip(DevType.columns,range(0,len(sDT)+1)))
print(coldic4)
print(df1.head())
for i in range(98855):
    data=(df1.loc[i,'DevType']).split(';')
    if(data[0]!=""):
       # print(data)
        for value in data:
            DevType.iloc[i,coldic4[value]]=1
time_DTe=time.time()
print("DevType",time_DTe-time_DT)
#CommmunicationTools
coldic5=dict(zip(CommunicationTools.columns,range(0,len(sCT)+1)))
print(coldic5)
# df1.head()
for i in range(98855):
    data=(df1.loc[i,'CommunicationTools']).split(';')
    if(data[0]!=""):
       # print(data)
        for value in data:
            CommunicationTools.iloc[i,coldic5[value]]=1

{'Respondent': 0, 'SQL': 1, 'Matlab': 2, 'Ocaml': 3, 'Java': 4, 'VBA': 5, 'CoffeeScript': 6, 'Scala': 7, 'PHP': 8, 'Groovy': 9, 'Rust': 10, 'Bash/Shell': 11, 'Kotlin': 12, 'Cobol': 13, 'Assembly': 14, 'TypeScript': 15, 'Ruby': 16, 'Visual Basic 6': 17, 'R': 18, 'JavaScript': 19, 'HTML': 20, 'Python': 21, 'Perl': 22, 'Erlang': 23, 'Swift': 24, 'Clojure': 25, 'CSS': 26, 'Haskell': 27, 'Hack': 28, 'C': 29, 'Objective-C': 30, 'Lua': 31, 'VB.NET': 32, 'Go': 33, 'C#': 34, 'Julia': 35, 'C++': 36, 'F#': 37, 'Delphi/Object Pascal': 38}
Language 848.1152768135071
done
{'Respondent': 0, 'MongoDB': 1, 'Amazon RDS/Aurora': 2, 'Cassandra': 3, 'Oracle': 4, 'Amazon Redshift': 5, 'Memcached': 6, 'Microsoft Azure (Tables, CosmosDB, SQL, etc)': 7, 'PostgreSQL': 8, 'Google Cloud Storage': 9, 'Google BigQuery': 10, 'SQL Server': 11, 'Amazon DynamoDB': 12, 'MariaDB': 13, 'Neo4j': 14, 'Redis': 15, 'Elasticsearch': 16, 'Apache Hive': 17, 'SQLite': 18, 'MySQL': 19, 'Apache HBase': 20, 'IBM Db2': 21}
                 Age AssessBenefits1 AssessBenefits10 AssessBenefits11  \
0  25 - 34 years old
1  35 - 44 years old               1                2                8
2
3  35 - 44 years old
4  18 - 24 years old               1                9                6

  AssessBenefits2 AssessBenefits3 AssessBenefits4 AssessBenefits5  \
0
1               5               3               7              10
2
3
4              10               2               4               8

  AssessBenefits6 AssessBenefits7  ... OperatingSystem  \
0                                  ...     Linux-based
1               4              11  ...     Linux-based
2                                  ...
3                                  ...         Windows
4               3              11  ...         Windows

              PlatformDesireNextYear                 PlatformWorkedWith  \
0           AWS;Azure;Linux;Firebase           AWS;Azure;Linux;Firebase
1                              Linux                              Linux
2
3                              Azure                              Azure
4  Arduino;Windows Desktop or Server  Arduino;Windows Desktop or Server

  Respondent                                    SelfTaughtTypes  \
0          1  The official documentation and/or standards fo...
1          3  The official documentation and/or standards fo...
2          4
3          5  The official documentation and/or standards fo...
4          7  The official documentation and/or standards fo...

          Student                                     UndergradMajor  \
0              No                          Mathematics or statistics
1              No  A natural science (ex. biology, chemistry, phy...
2              No  Computer science, computer engineering, or sof...
3              No  Computer science, computer engineering, or sof...
4  Yes, part-time  Computer science, computer engineering, or sof...

      VersionControl       YearsCoding YearsCodingProf
0                Git         3-5 years       3-5 years
1     Git;Subversion  30 or more years     18-20 years
2                          24-26 years       6-8 years
3                Git       18-20 years     12-14 years
4  Zip file back-ups         6-8 years       0-2 years

[5 rows x 54 columns]
Databases 394.8215456008911
{'Respondent': 0, 'Product manager': 1, 'DevOps specialist': 2, 'Full-stack developer': 3, 'Game or graphics developer': 4, 'C-suite executive (CEO, CTO, etc.)': 5, 'Data scientist or machine learning specialist': 6, 'Marketing or sales professional': 7, 'Engineering manager': 8, 'Embedded applications or devices developer': 9, 'Student': 10, 'System administrator': 11, 'Front-end developer': 12, 'Educator or academic researcher': 13, 'Data or business analyst': 14, 'QA or test developer': 15, 'Designer': 16, 'Desktop or enterprise applications developer': 17, 'Mobile developer': 18, 'Database administrator': 19, 'Back-end developer': 20}
                 Age AssessBenefits1 AssessBenefits10 AssessBenefits11  \
0  25 - 34 years old
1  35 - 44 years old               1                2                8
2
3  35 - 44 years old
4  18 - 24 years old               1                9                6

  AssessBenefits2 AssessBenefits3 AssessBenefits4 AssessBenefits5  \
0
1               5               3               7              10
2
3
4              10               2               4               8

  AssessBenefits6 AssessBenefits7  ... OperatingSystem  \
0                                  ...     Linux-based
1               4              11  ...     Linux-based
2                                  ...
3                                  ...         Windows
4               3              11  ...         Windows

              PlatformDesireNextYear                 PlatformWorkedWith  \
0           AWS;Azure;Linux;Firebase           AWS;Azure;Linux;Firebase
1                              Linux                              Linux
2
3                              Azure                              Azure
4  Arduino;Windows Desktop or Server  Arduino;Windows Desktop or Server

  Respondent                                    SelfTaughtTypes  \
0          1  The official documentation and/or standards fo...
1          3  The official documentation and/or standards fo...
2          4
3          5  The official documentation and/or standards fo...
4          7  The official documentation and/or standards fo...

          Student                                     UndergradMajor  \
0              No                          Mathematics or statistics
1              No  A natural science (ex. biology, chemistry, phy...
2              No  Computer science, computer engineering, or sof...
3              No  Computer science, computer engineering, or sof...
4  Yes, part-time  Computer science, computer engineering, or sof...

      VersionControl       YearsCoding YearsCodingProf
0                Git         3-5 years       3-5 years
1     Git;Subversion  30 or more years     18-20 years
2                          24-26 years       6-8 years
3                Git       18-20 years     12-14 years
4  Zip file back-ups         6-8 years       0-2 years

[5 rows x 54 columns]
DevType 563.7490549087524
{'Respondent': 0, 'Jira': 1, 'Facebook': 2, 'Other wiki tool (Github, Google Sites, proprietary software, etc.)': 3, 'Other chat system (IRC, proprietary software, etc.)': 4, 'Google Hangouts/Chat': 5, 'Trello': 6, 'Confluence': 7, 'Slack': 8, 'Stack Overflow Enterprise': 9, 'Office / productivity suite (Microsoft Office, Google Suite, etc.)': 10, 'HipChat': 11}

In [16]:
# FrameworkWorkedWith.to_csv("./data/user_preprocessing/FrameworkWorkedWith.csv")
# PlatformWorkedWith.to_csv("./data/user_preprocessing/PlatformWorkedWith.csv")

# LanguageWorkedWith.to_csv("./data/user_preprocessing/LanguageWorkedWith.csv")
# DatabaseWorkedWith.to_csv("./data/user_preprocessing/DatabaseWorkedWith.csv")
# CommunicationTools.to_csv("./data/user_preprocessing/CommunicationTools.csv")
# DevType.to_csv("./data/user_preprocessing/DevType.csv")