In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import sys
print(sys.path)
import time
import random

['C:\\Users\\Vikas Jain\\Desktop\\recommender', 'C:\\Users\\Vikas Jain\\anaconda3\\python37.zip', 'C:\\Users\\Vikas Jain\\anaconda3\\DLLs', 'C:\\Users\\Vikas Jain\\anaconda3\\lib', 'C:\\Users\\Vikas Jain\\anaconda3', '', 'C:\\Users\\Vikas Jain\\AppData\\Roaming\\Python\\Python37\\site-packages', 'C:\\Users\\Vikas Jain\\anaconda3\\lib\\site-packages', 'C:\\Users\\Vikas Jain\\anaconda3\\lib\\site-packages\\win32', 'C:\\Users\\Vikas Jain\\anaconda3\\lib\\site-packages\\win32\\lib', 'C:\\Users\\Vikas Jain\\anaconda3\\lib\\site-packages\\Pythonwin', 'C:\\Users\\Vikas Jain\\anaconda3\\lib\\site-packages\\IPython\\extensions', 'C:\\Users\\Vikas Jain\\.ipython']

In [2]:
#for recommending job titles.
df=pd.read_csv("./data/collaborative filtering/dice_com-job_us_sample.csv")
# df.head()

#for recommending skills for the post
df1=pd.read_csv("./data/collaborative filtering/survey_results_public.csv")
# df.head()

C:\Users\Vikas Jain\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (8,12,13,14,15,16,50,51,52,53,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
#merge all the dataset having skills from user profile.
dflang=pd.read_csv("./data/collaborative filtering/LanguageWorkedwith.csv")
dfdata=pd.read_csv("./data/collaborative filtering/DatabaseWorkedWith.csv")
dfplat=pd.read_csv("./data/collaborative filtering/PlatformWorkedWith.csv")
dfframe=pd.read_csv("./data/collaborative filtering/FrameworkWorkedWith.csv")
dfdev=pd.read_csv("./data/collaborative filtering/DevType.csv")
dfmerge=pd.merge(dflang,dfdata,on="Respondent")
dfmerge=pd.merge(dfmerge,dfplat,on="Respondent")
dfmerge=pd.merge(dfmerge,dfframe,on="Respondent")
dfmerge=pd.merge(dfmerge,dfdev,on="Respondent")
#dfmerge.to_csv("./data/collaborative filtering/userskills.csv")

In [4]:
dfuser=pd.read_csv("./data/collaborative filtering/userskills.csv")
#remove duplicate columns during merge
dfuser = dfuser.loc[:,~dfuser.columns.duplicated()]
dfuser=dfuser.fillna(0)
dfuser.shape   #(98855, 124)
dfuser.head()

,Unnamed: 0,Unnamed: 0_x,Respondent,Erlang,Ruby,Delphi/Object Pascal,Assembly,CSS,JavaScript,Python,...,Back-end developer,Student,"C-suite executive (CEO, CTO, etc.)",DevOps specialist,Front-end developer,Database administrator,Data scientist or machine learning specialist,Embedded applications or devices developer,Desktop or enterprise applications developer,Full-stack developer
0,0,0,1,0.0,0.0,0.0,0.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,1,1,3,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
2,2,2,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,3,3,5,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,4,4,7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [5]:
#remove rows with less than 5 skills
dfuser=dfuser.dropna(thresh=5)
dfuser.shape
m=(np.asscalar(np.int32(max(dfuser["Respondent"]))))
print(m)
print(type(m))
#Build  a dictionary of respondent id's as keys  and thier skills as values
temp=[0]*m
vector=np.array(temp)
count=1
star=time.time()
d=dict()
for row in dfuser.iterrows():
        index,data=row
        l=list()
        #l=[data.values[0],list(data.values[1:])]
        s=np.asscalar(np.int32(data.values[0]))
        d[s]=np.array(list(data.values[1:]))
        #print(type(data))
end=time.time()
print(d[1])
print(end-star)

C:\Users\Vikas Jain\anaconda3\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning: np.asscalar(a) is deprecated since NumPy v1.16, use a.item() instead
  after removing the cwd from sys.path.
C:\Users\Vikas Jain\anaconda3\lib\site-packages\ipykernel_launcher.py:17: DeprecationWarning: np.asscalar(a) is deprecated since NumPy v1.16, use a.item() instead

101592
<class 'int'>
[1. 3. 0. 0. 0. 0. 0. 1. 1. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 1. 0. 0. 0. 0. 1. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 1. 0. 0. 0. 0. 1. 0.
 0. 0. 1. 0. 0. 0. 1. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 1. 0.
 0. 0. 1.]
7.861011743545532

In [6]:
#Building the user similarity matrix based on thier skill vectors
#initialising a user matrix uptill respondent number 5000
sim=list()
s=time.time()
for i in range(5000):
        l=list()
        l=[0]*5000
        sim.append(l)
e=time.time()
print(e-s)

0.21059465408325195

In [7]:
count1=1
count2=1
t=time.time()
for key, value in d.items():
        if(key<5000):
#             print(key)
            b=(np.linalg.norm(value))
            for key2,value2 in d.items():
                if(key2<5000):
                    #print(key2)
                    a=np.dot(d[key],d[key2])
                    ans=a/(np.linalg.norm(value2)*b)
                    sim[key][key2]=ans
                    #count2+=1
            #count1+=1
e=time.time()
print("total time for building similarity matrix ",e-s)

total time for building similarity matrix  212.58200883865356

In [8]:
###Testing###
# the similarity of user 1 with others 

# print((max(sim[1][2:])))
# print(sim[1].index(max(sim[1][2:])))

print("So, User 1 is most similar to user 4653 with similarity",max(sim[1][2:]),"in skills")

So, User 1 is most similar to user 4653 with similarity 0.738634599566731 in skills

In [13]:
#For buiding  collaborative filtering based on The Content based recommendations for the first 200 Respondents. 

dfcont=pd.read_csv("./data/collaborative filtering/recommendations.csv",  encoding='windows-1252')
sim=list()
s=time.time()
for i in range(200):
        l=list()
        l=[0]*200
        sim.append(l)

e=time.time()
print("total time for building similarity matrix ",e-s)
t=time.time()
print("Building the similarity matrix...\n")

for key, value in d.items():
        if(key<200):
            #print(key)
            b=(np.linalg.norm(value))
            for key2,value2 in d.items():
                if(key2<200):
                    #print(key2)
                    a=np.dot(d[key],d[key2])
                    ans=a/(np.linalg.norm(value2)*b)
                    sim[key][key2]=ans
                    #count2+=1
            #count1+=1
e=time.time()

total time for building similarity matrix  0.0009982585906982422
Building the similarity matrix...

In [14]:
####Example#########
#Recommending User '3' Dev Profile based on another user who has almost the same skill as him.

#User 3 recommended job titles from content based filtering)

jobtitle = dfcont.loc[dfcont.Respondent==3]["jobtitle"].values
skills = dfcont.loc[dfcont.Respondent==3]["skills"].values
df = pd.DataFrame(list(zip(jobtitle, skills)),
               columns =['Job Title', 'Skills Required']) 
df.head()

,Job Title,Skills Required
0,Python Developer,"Python, Django, PostgreSQL, Python data struct..."
1,Full-Stack Python Developer,"Linux, Python, REST, AWS,"
2,Full Stack Javascript Engineer,"Node, React, Javascript, Amazon Web Services, ..."
3,Full Stack Developer,"Java, NodeJS, Ruby, Scala, Python, Powershell,..."
4,System Administrator,"AIX, Linux, Unix, IBM Redhat, VMWare, ESXi Ker..."